.container-1 {
  background-color: red;
  color: white;
  text-align: center;
  display: grid;
  grid-column: 1 / span 5;
}

.container-2 {
  background-color: blue;
  color: white;
  text-align: center;
  grid-area: 2 / 1 / 4 / 3;
}

.container-3 {
  background-color: lightgreen;
  color: white;
  text-align: center;
  grid-row: 2 / 4;
}

.container-4 {
  background-color: black;
  color: white;
  text-align: center;
  grid-column: 4 / 6;
}

.container-5 {
  background-color: orange;
  color: white;
  text-align: center;
}

.container-6 {
  background-color: brown;
  color: white;
  text-align: center;
}

.container-7 {
  background-color: green;
  color: white;
  text-align: center;
  display: grid;
}

.container-8 {
  background-color: aqua;
  color: white;
  text-align: center;
}

.container-9 {
  display: grid;
  grid-column: 1 / span 3;
  background-color: aquamarine;
  color: white;
  text-align: center;
  grid-column: 3 / 6;
}

.parent {
  padding: 0% 90% 0% 0%;
  display: grid;
  grid-template-columns: repeat(5, 100%);
  grid-template-rows: repeat(4, 100%);
}  